{% extends 'base.html' %}
{% block content %}

<br><h1><u>Home</u></h1><br>

{% for twoot in twoots %}
<!--Creates a card for every tweet-->
<div class="card">
  <div class="card-header">
      <a href="{% url 'profile' twoot.user.profile.user_id %}" style="text-decoration:none; color:blue;" >@{{ twoot.user|lower }}</a> <!--Links to profile of twoot author-->
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{ twoot.body }}</p>
      <footer class="blockquote-footer">{{ twoot.created_at }}</footer>
    </blockquote>
  </div>
</div>
<br><br>
{% endfor %}
{% endblock %}