{% extends 'base.html' %}
{% block content %}

<br><h1 class="text-center"><u>Home</u></h1><br>

<div class="container text-center">
    <div class="row">
        <div class="col-8">
{% for twoot in twoots %}
<!--Creates a card for every tweet-->
<div class="card">
  <div class="card-header">
      <a href="{% url 'profile' twoot.user.profile.user_id %}" style="text-decoration:none; color:blue;" >@{{ twoot.user|lower }}</a> <!--Links to profile of twoot author-->
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{ twoot.body }}</p>
      <footer class="blockquote-footer">{{ twoot.created_at }}</footer>
    </blockquote>
  </div>
</div>
<br><br>
{% endfor %}
        </div>
    <div class="col-4">
{% if form %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }} <!--form.as_p renders the form-->

  <button type="submit" class="btn btn-info">Twoot</button>
        </form>
{% endif %}
    </div>

    </div></div>
{% endblock %}