{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %} <!--If user already logged in say so-->
<br><h1 class="text-center">Already logged in</h1><br>
{% else %}
<div class="col-md-6 offset-md-3">
<br><h1 class="text-center">Login</h1><br>

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
  <div class="mb-3">
    <input type="text" class="form-control" name="username" placeholder="Enter Username"> <!--Username-->
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" name="password" placeholder="Enter Password"> <!--Password-->
  </div><br>
  <button type="submit" class="btn btn-info">Submit</button>
</form>

</div>


{% endif %}




{% endblock %}