{% extends 'base.html' %}

{% block content %}

    {% if profile and profile is not None %} <!--Only run if the profile exists-->
<br>
<div class="container text-center">
    <div class="row">
        <div class="col-8">
            <h1>{{ profile.user.username }}</h1> <!--Displayes username-->
<br>
            {% if twoots %} <!--Shows all of the user's twoots if they have any-->
            {% for twoot in twoots %}

<div class="card">
  <div class="card-header">
      <a href="{% url 'profile' twoot.user.profile.user_id %}" style="text-decoration:none; color:blue;" >@{{ twoot.user|lower }}</a>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{ twoot.body }}</p>
      <footer class="blockquote-footer">{{ twoot.created_at }}</footer>
    </blockquote>
  </div>
</div>
<br>
{% endfor %}
            {% else %} <!--If user hasnt posted anything, say they haven't-->
            <p class="text-secondary">{{ profile.user.username }} hasn't posted any Twoots yet.</p>
            {% endif %}
        </div>
        <div class="col-4">

            <div class="card"> <!--Card shows everyone user is following-->
  <div class="card-header">
    Follows
  </div>
  <div class="card-body">
    {% for following in profile.follows.all %}
                {% if profile.id != following.id %}
                <a href="{% url 'profile' following.user.id %}">@{{ following }}</a> <br>
                {% endif %}
            {% endfor %}
  </div>
</div>

<br>

                      <div class="card"> <!--Card shows everyone user is followed by-->
  <div class="card-header">
    Followed By
  </div>
  <div class="card-body">
    {% for following in profile.followed_by.all %}
{% if profile.id != following.id %}
<a href="{% url 'profile' following.user.id %}">@{{ following }}</a> <br>
{% endif %}
{% endfor %}
  </div>
</div>
            {% if profile.id != user.profile.id %} <!--If opened profile isn't user's profile, show a follow/unfollow button-->
            <br>
            <form method=POST>
                {% csrf_token %}
                {% if profile in user.profile.follows.all %} <!--If user already followed-->
                <button class="btn btn-outline-danger" name="follow" value="unfollow" type = "submit" >Unfollow @{{profile.user.username|lower}} </button>
                {% else %} <!--if user not followed-->
                <button class="btn btn-outline-success" name="follow" value="follow" type = "submit" >Follow @{{profile.user.username|lower}} </button>
                {% endif %}
            </form>
            {% endif %}
<br>

</div></div></div>

{% else %}
<br>
<h1>Profile not found</h1>
    {% endif %}

{% endblock %}